@font-face {
  font-family: "Inconsolata";
  src: url("assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
